@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat:wght@100;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;

}
.banner {
  background-color: #51034d;
  display: flex;
  padding-top: 2%;
}
input,
textarea {
  border: 1px solid #a8a9a9;
  border-radius: 2px;
  padding-left: 20px;
  width: 100%;
  min-height: 50px;
  font: 14px;
  color: #1F2937
}

textarea {
  padding-top: 20px;
  min-height: 100px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #1F2937;
}

button {
  height: 5vh;

}
.btn-contained {
  background-color: #371f36;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  padding-top: 1vh;
  cursor: pointer;
  text-decoration: none;
  height: 25vh;
  width: 10vw;
  height: 5vh;
}

#login-button {
  margin-left: auto;
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 1%;
  padding: 1%;
}

.btn-outlined {
  background-color: #fff;
  color: #1F2937;
  border-radius: 2px;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid #1F2937;
}
.title {
  color: #51034d;

}

.container {
  display: flex;
  width: 100%;
  
}
.contained {
  flex: 1;
  padding: 10px;

}
#blogImg{
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;
  margin: 0% 0% 0% 20%;
}
.contained-content-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#blogPageGreeting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 85%;
}
p {
  margin: 3%;
}
.blogPara {
  font-size: 120%;
  white-space: pre-line;

}

.buttonBox {
  margin-left: auto;
  
}

@media (max-width: 760px) {
  .banner {
    flex-direction: column;
    padding-top: 5%;
  }
  .container {
    flex-direction: column;
  }
  .contained {
    padding: 5px;
  }
  #blogPageGreeting {
    margin-left: 0;
    margin-top: 5%;
  }
  .grid-cols-4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
}

@media (max-width: 430px) {
  .banner {
    flex-direction: column;
    padding-top: 5%;
  }
  .container {
    flex-direction: column;
  }
  .contained {
    padding: 5px;
  }
  #blogPageGreeting {
    margin-left: 0;
    margin-top: 5%;
  }
  .grid-cols-4 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
}