@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat:wght@100;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}
.banner {
  background-color: #51034d;
  display: flex;
  padding-top: 2%;
}
input,
textarea {
  border: 1px solid #a8a9a9;
  border-radius: 2px;
  padding-left: 20px;
  width: 100%;
  min-height: 50px;
  font: 14px;
  color: #1F2937
}

textarea {
  padding-top: 20px;
  min-height: 100px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #1F2937;
}

button {
  height: 5vh;

}
.btn-contained {
  background-color: #371f36;
  color: #fff;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
}

#login-button {
  margin-left: auto;
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 1%;
  padding: 1%;
}

.btn-outlined {
  background-color: #fff;
  color: #1F2937;
  border-radius: 2px;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid #1F2937;
}
.title {
  color: #51034d;

}

.container {
  display: flex;
  width: 100%;
}

.contained {
  flex: 1;
  padding: 10px;
}

.contained-content-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.blogPara {
  font-size: 150%;
  white-space: pre-line;
}

.buttonBox {
  margin-left: auto;
  
}

